In [ ]:
# Data source: 
https://www.kaggle.com/datasets/teertha/ushealthinsurancedataset

In [20]:
# imports
import numpy as np
import pandas as pd
import sweetviz as sv

In [21]:
df = pd.read_csv("data\insurance.xls")
print("Shape:", df.shape)
display(df.head())
df.info()
df.describe() # this shows there are no null values in this dataset

Shape: (1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [22]:
# Checking for categorical variables: XGBoost cannot use them
print("\nData types in the original dataset:")
print(df.dtypes) 
# We notice categorial variables to transform into factors

# Checking range of unique values
for col in df.select_dtypes(include=['object']).columns:
    print(f"\nðŸ”¹ {col} â€” unique values:")
    print(df[col].unique())

Data types in the original dataset:
age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

ðŸ”¹ sex â€” unique values:
['female' 'male']

ðŸ”¹ smoker â€” unique values:
['yes' 'no']

ðŸ”¹ region â€” unique values:
['southwest' 'southeast' 'northwest' 'northeast']

In [23]:
from sklearn.preprocessing import LabelEncoder

eda_report = sv.analyze(df, target_feat='charges')
eda_report.show_html('reports\health_insurance_EDA.html')

# The variables to encode are sex, smoker, and region
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])          # male=1, female=0
df['smoker'] = le.fit_transform(df['smoker'])    # yes=1, no=0

# region needs to be one hot encoded into different columns
df = pd.get_dummies(df, columns=['region'], drop_first=True)

Done! Use 'show' commands to display/save.   |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:00 -> (00:00 left)

Report reports\health_insurance_EDA.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [24]:
print("\nData types in the transformed dataset:")
print(df.dtypes) 
# Notice 3 columns for region instead of 4 to void multicollinearity

Data types in the transformed dataset:
age                   int64
sex                   int32
bmi                 float64
children              int64
smoker                int32
charges             float64
region_northwest      uint8
region_southeast      uint8
region_southwest      uint8
dtype: object

In [25]:
# Export cleaned data in the data folder
df.to_csv("data\cleaned_insurance.csv")